@charset "UTF-8";

body {
    background-color: rgb(145, 233, 145);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color:rgb(76, 0, 255)
}

h1#principal {
    color: black;
    text-align: center;
    background-color: aqua;
}

h2 {
    color:rgb(33, 1, 107)
}

.basico {
    color: green
}

.intermediario {
    color: yellow
}

.avancado {
    color: red
}

.destaque {
    background-color: blueviolet;
}